{
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always"
}
